body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0B1D26;
}
.wrapper {
  max-width: 1350px;
  margin: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.header-menu {
  display: flex;
  gap: 30px;
}
.header-menu a {
  color: black;
  text-decoration: none;
}
.section-body {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.section-layout ul{
  list-style: none;
  padding: 10px 10px ;
  border-right: 3px solid gray;
  margin: 0;
}
.section-layout ul li {
  margin-bottom: 16px;
  font-weight: 700;
}
.section-layout {
  height: 160px;
  padding: 20px;
}
.section-layout p {
  margin-top: 0;
  font-weight: 700;
  width: 50px;
  border-right: 3px solid black;
  margin-bottom: 0;
  padding: 10px 10px;
}
.body-icons {
  align-items: flex-start;
}
.body-icons img {
  display: block;
  margin: 20px 0;
}
.parrafo-principal p {
  font-size: 62px;
  font-weight: 500;
  line-height: 80px;
  width: 650px;
  margin: 0;
}
.styles {
  margin-top: -100px;
}
.cruiser-carving-downhill {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  /* border: 1px solid blue; */
  margin: 50px 0 ;
  padding: 50px 0;
}
.cruiser-carving-downhill p {
  font-size: 18px;
  line-height: 32px;
}
.cruiser-carving-downhill-3 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 50px 0 ;
  padding: 0 100px;
}
.cruiser-carving-downhill-3 p {
  line-height: 32px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  color: white;
}
.footer-menu {
  display: flex;
  gap: 200px;
  line-height: 40px;
}
.cruiser {
  width: 632px;
  height: 224px;
}
.carving {
  width: 632px;
  margin-left: 100px;
  /* margin-top: -200px; */
  /* height: 224px; */
}
.downhill {
  width: 632px;
  height: 224px;
}
.background {
  background-image: url('images/MG.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  object-fit: cover;
  /* background-size: 1450px; */
  height: 1886px;
}
h3 {
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}
.footer-menu h4 {
  color: #FDD130;
  margin: 0;
}
.footer-menu  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu  ul li {
  margin: 0;
}
.copyright {
  color: gray;
}
.leer-mas {
  margin-top: 30px;
  display: flex;
  color: #FDD130;
  align-items: center;
  gap: 20px;
}
.section-cruiser {
  /* border: 1px solid red; */
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}
.cruiser-carving-downhill-1 {
  display: flex;
  align-items: center;
  position: relative;
  /* top: 300px; */
  color: white;
  padding: 0 100px;
  margin-top: 420px;
}
.cruiser-carving-downhill-1 p {
  line-height: 32px;
}
.img-section {
  position: relative;
  left: 100px;
}
.cruiser-carving-downhill-2 {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  padding: 0 100px;
}
.cruiser-carving-downhill-2 p {
  line-height: 32px;
}